.agent-item {
  margin: 0 15px 25px 15px;
  flex-direction: column;
  padding: 15px 0 0 0;
  overflow: hidden;
  flex: 0 0 calc(33.333333% - 30px);
  cursor: pointer;
  transition: background 1s ease;
  .agent-avatar {
    margin: 15px 0;
    img {
      max-width: 125px;
    }
  }
  .agent-info {
    padding-left: 0;
    text-align: center;
    font-size: 15px;
    width: 100%;
    .agent-income {
      background: #f5f5f5;
      padding: 20px 0;
    }
    .agent-name {
      margin: 0 0 4px 0;
    }
    p {
      margin: 0 0 15px 0;
    }
  }
  &:hover {
    background-color: #f7f7f7;
  }
}

@media (min-width: 1024px) {
  .page-agents-content {
    max-width: 1024px;
    margin: 0 auto;
    .agent-avatar img {
      max-width: 150px !important;
    }
    .agent-income {
      font-size: 16px !important;
    }
  }
}
