body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #3f3e3a;
}
.site-container {
  padding-top: 80px;
  height: calc(100vh - 80px);
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #fafafa;
  .navbar {
    box-shadow: 0px 0px 15px #bdbbbb;
    .navbar-container {
      min-height: 80px;
      display: flex;
      align-items: center;
      .navbar-brand {
        a {
          display: inline-block;
          padding: 10px;
          line-height: 0;
        }
      }
    }
  }
}

/* Pages */
.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 15px 15px;
}

/* Media Queries */
@media (min-width: 768px) {
  header {
    position: relative;
    .navbar {
      box-shadow: none;
      .navbar-container {
        min-height: 90px;
      }
    }
  }
}
